@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.foward {
    position: relative;
    z-index: 3;
}

.login-sec-1 {
    height: 801px;
    margin: 30px;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #282926;
    background-color: #4e4d4d;
    font-family: "Raleway", sans-serif;
    color: white;
}

.login-sec-1 picture img {
    left: 0;
    height: 801px;
    position: absolute;
    z-index: 1;
}

.login-sec-1 a {
    color: #cfcfcf;
}

.login-sec-1 .log-group {
    top: 200px;
    position: relative;
    z-index: 3;
}

.login-sec-1 .log-group-1 {
    width: 600px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    color: white;
    line-height: 1.4;
    
}

.login-sec-1 .log-group-2 {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.login-sec-1 .log-group-2 input {
    width: 100%;
    max-width: 300px;
    padding: 15px 10px;
    border: 1px solid #95d318;
    border-radius: 50px;
    color: #cfcfcf;
    background-color: rgba(7, 20, 143, 0.548);
}

.login-sec-1 .log-group-3 {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-sec-1 .log-group-3 .sign-btn {
    width: 100%;
    max-width: 300px;
    font-weight: 400;
    padding: 15px 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;    
    background-color: #bbdb64;
}

.login-sec-1 a.sign-btn {
    width: 100%;
    max-width: 300px;
    font-weight: 400;
    padding: 15px 100px;
    border: none;
    border-radius: 50px;
    cursor: pointer;    
    background-color: #bbdb64;
    color: black;
    text-decoration: none;
}

.login-sec-1 button.sign-btn {
    background-color: #404040;
}

.login-sec-1 .log-btn {
    width: 100%;
    max-width: 300px;
    font-weight: 400;
    padding: 15px 120px;
    border: none;
    border-radius: 50px;
    cursor: pointer;    
    background-color: #bbdb64;
    color: black;
}

.login-sec-1 a.log-btn {
    text-decoration: none;
}

/* ------------------Login */
@media (min-width: 1000px) {

    .login-sec-1 {
        width: 100%;
        max-width: 1424px;
        margin: 0 auto;
    }
}