{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<form method="POST">
    {% csrf_token %}
    <div class="login-sec-1">
        <picture><img src="{% static 'img/bg-img.jpg' %}" alt="Casino Banner"></picture>
        <div class="log-group">
            <div class="log-group-1">
                <h1><span class="col-gre">Реєстрація</span></h1>
            </div>
            <div class="log-group-2">
                <input type="text" name="username" placeholder="Логін" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <input type="password" name="password2" placeholder="Повторіть пароль" required>
            </div>
            <div class="log-group-3">
                <button type="submit" class="sign-btn">Зареєструватися</button>
            </div>
            <h2>Або</h2>
            <br>
            <a class="log-btn" href="/accounts/login/">Увійти</a>      
        </div>
    </div>
</form>